body{
  margin-top: 60px;
  text-align:center;
}

h1 {
  padding-bottom: 0.5rem;
}

input[type=number] {
  cursor: pointer;
}

#input-celsius{
  background-color: #ff7722;
  font-size: 2.5rem;
}

#input-fahrenheit{
  background-color: white;
  font-size: 2.5rem;
}

#input-kelvin{
  background-color:#00FF00;
  font-size: 2.5rem;
}

.form-padding {
  padding: 2rem 1rem;
}

::-webkit-input-placeholder {
  color: #000000 !important;
}
::-moz-placeholder {
  color: #000000 !important;
}
:-ms-input-placeholder {
  color: #000000 !important;
}
:-moz-placeholder {
  color: #000000 !important;
}




